/* BASICS OF FLEXBOX */
/* .flex-container {
  display: flex;
  background-color: dodgerblue;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
} */

/* FLEX CONTAINER */
/* flex-direction */

/* .flex-container {
  display: flex;
  background-color: dodgerblue;
  flex-direction: column-reverse;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  width: 100px;
  font-size: 30px;
  text-align: center;
  line-height: 75px;
} */

/* flex-wrap */

/* .flex-container {
  display: flex;
  background-color: dodgerblue;
  flex-wrap: wrap;
}

.flex-container > div {
  background-color: white;
  text-align: center;
  margin: 10px;
  font-size: 30px;
  line-height: 75px;
  width: 100px;
} */

/* flex-flow */

/* .flex-container {
  display: flex;
  background-color: dodgerblue;
  flex-flow: row wrap;
}

.flex-container > div {
  background-color: white;
  text-align: center;
  margin: 10px;
  font-size: 30px;
  line-height: 75px;
  width: 100px;
} */

/* justify-content */

/* .flex-container {
  display: flex;
  background-color: dodgerblue;
  justify-content: space-around;
}

.flex-container > div {
  background-color: white;
  text-align: center;
  margin: 10px;
  font-size: 30px;
  line-height: 75px;
  width: 100px;
} */

/* align-item */

/* .flex-container {
  height: 200px;
  align-items: center;
  display: flex;
  background-color: dodgerblue;
}

.flex-container > div {
  background-color: white;
  text-align: center;
  margin: 10px;
  font-size: 30px;
  line-height: 75px;
  width: 100px;
} */

/* align-content */
/* 

/* perfect centering */
/* .flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: dodgerblue;
}

.flex-container > div {
  background-color: wheat;
  color: white;
  width: 100px;
  height: 100px;
} */

/* FLEX ITEM */
/* order */

/* .flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* flex grow */
/* .flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* flex shrink */
/* .flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* flex basis */
/* .flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* align self */
/* .flex-container {
  display: flex;
  height: 200px;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/* RESPONSIVE FLEX BOX */
/* * {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
} */
